@model HomeSearchViewModel
@{
    ViewData["Title"] = "Search";
}

@try
{
    @if (Model.Total > 0 && Model.Title != null)
    {
        <h1>Search @Model.Title</h1>
        <small>Result: @Model.Total</small>
        @*<p>@ViewBag.Results</p>*@

        <div class="row" id="musicResults">
            @*@foreach (Datum item in Model.Musics)
            {
                <div class="card col-3">
                    <partial name="_MusicCardPartial" model="@item"></partial>
                </div>
            }*@
            <partial name="_MusicListPartial" model="@Model.Musics"></partial>
        </div>
        <nav aria-label="Page navigation example" id="pogination">
            <ul class="pagination d-flex align-content-center justify-content-center">
                @if (Model.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a asp-action="Search" asp-controller="Home" asp-route-title="@Model.Title" asp-route-page="@(Model.CurrentPage-1)" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }
                @for (int i = Model.CurrentPage - Model.PageCount; i <= Model.CurrentPage + Model.PageCount; i++)
                {
                    if (i > 0 && i <= Model.TotalPages - 1)
                    {
                        <li class="page-item @(Model.CurrentPage==i ? "active":"")">
                            <a asp-action="Search" asp-controller="Home" asp-route-title="@Model.Title" asp-route-page="@i" class="page-link">@i</a>
                        </li>
                    }
                }

                @if (Model.CurrentPage < Model.TotalPages)
                {
                    <li class="page-item">
                        <a asp-action="Search" asp-controller="Home" asp-route-title="@Model.Title" asp-route-page="@(Model.CurrentPage+1)" class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }

            </ul>
        </nav>
    }
    else
    {
        <h1>Not found</h1>
    }

    @section Scripts {
        <script>
        initPagination(@Model.CurrentPage, @Model.TotalPages, '@Url.ActionLink("SearchResult", "Home", new {title = Model.Title})');
        </script>
        <script>
            stopAudio(@Model.Musics)
        </script>
    }
}
catch (Exception)
{
<h1>Not found</h1>
}




